.header {  
    position: relative; 
    z-index: 1;


    
    
        //hamburger animation
        &.open {
            .header__toggle {
                > span:first-child {
                    transform: rotate(45deg);
                }
    
                > span:nth-child(2) {
                    opacity: 0;
                }
    
                > span:last-child {
                    transform: rotate(-45deg);
    
                }
            }
        }
    
        .overlay {
            opacity: 0;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient($darkBlue, transparent);

            &.fade-in {
                display: block;
            }
           /* &.fade-out {
                display: none;
            }
            */
        }


    nav {
        position: relative;
        background-color: $white;
        padding-top: 1.0625rem  ;
        padding-bottom: 0px ;
        
    }

    &__logo {
        img {
            width: 8.8125rem;
            height: 1.375rem;
        }
    }
    
    &__toggle { // Mobile Menu Toggle
        cursor: pointer;

        > span {
            display: block; 
            width: 26px;
            height: 2px; 
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child){
                margin-bottom: 5px;

            }
        }

    }
    
    &__menu {
        position: absolute;
        background: $white;
        padding: 1.625rem;
        margin-top:  1.5rem;
        width: calc(100% - 3rem);
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);
        

        a {
            display: block;
            padding: 0.625rem;
            text-align: center;
            color: $darkBlue;
        }
    }
    
    &__links {
        
        a {
            position:relative;
            font-size: $font-sm;
            color: $grayishBlue;
            transition: color 300ms ease-in-out;
             
            &:not(:last-child){
                margin-right : 32px; 
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                left: 0 ;
                right:0;
                bottom: -30px;
                opacity:0  ;
                transition: opacity 300ms ease-in-out; 
            }

            &:hover {
                 color: $darkBlue;

                 &::before {
                     opacity: 1;
                 }
            }
        }
    }

}